body{
    margin:0;
    background-color: azure;
}

header{
    width:100%;
    background-color:deepskyblue;
    color:rgb(253, 253, 253);
    height: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.site{
    float: left;
    margin-left: 4%;
}

a{
    text-decoration: none;
    color:rgb(253, 253, 253);
}

#total{
    float: right;
    margin-right: 4%;
}

#list-of-articles{
    margin: 20px 70px;
}

.article-panel{
    margin: 30px 0px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px 15px;
}

.article-header{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 120%;
}

.info{
    font-size: 90%;
    margin-bottom: 5px;
}

.buttons{
    margin-top: 10px;
    margin-bottom: 5px;
}

.read-button{
    color: white;
    background-color: rgb(81, 81, 226);
    height: 30px;
    cursor: pointer;
}

.read-button:hover{
    background-color: rgb(71, 71, 216);
}

.add-to-library{
    height: 30px;
    cursor: pointer;
}

.remove-from-library{
    height: 30px;
    cursor: pointer;
    background-color: rgb(243, 82, 82);
    color: white;
}

a.button{
    margin-right: 30px;
}

#empty{
    text-align: center;
}

#sort-by{
    margin-left: 70px;
    margin-top: 20px;
    font-size: 120%;
}

select#sorting{
    margin-left: 10px;
    height: 25px;
}

#num-form{
    margin-left: 70px;
    margin-top: 20px;
    font-size: 120%;
    padding-bottom: 20px;
}

input#num{
    margin-left: 8px;
    height: 20px;
}

#num-input{
    float: left;
}

button#num-of-articles{
    float: left;
    margin-left: 10px;
}

#total_resp{
    display: none;
    float: right;
    margin-right: 4%;
}

@media (max-width:550px){
    input#num{ width:120px; }

    #num-form{
        font-size: 110%;
        margin-left: 55px;
    }
}

@media (max-width:470px){
    #list-of-articles{ margin: 20px 40px; }

    input#num{ width:60px; }

    #num-form{ margin-left: 10%; }
}

@media (max-width:395px){
    #list-of-articles{ margin: 20px 20px; }

    .article-header{ font-size: 110%; }

    .summary{ font-size:95%; }

    input#num{ margin-left: 4px; }

    #num-form{
        font-size: 100%;
        margin-left: 6%;
    }

    button#num-of-articles{ margin-left: 5px; }

    #sort-by{  margin-left: 20px; }
}

@media (max-width: 353px){
    .remove-from-library{ margin-top:10px; }
}

@media (max-width:340px){

    input#num{ width:60px; }

    #num-form{
        font-size: 90%;
        margin-left: 2%;
    }

    #total{ font-size: 90%; }

    .article-header{ font-size: 100%; }

    .info{ font-size: 80%; }

    .summary{ font-size:90%; }
}

@media(max-width: 310px){

    .add-to-library{ margin-top:10px; }

    #num-form{
        font-size: 80%;
        margin-left: 2%;
        padding-bottom: 35px;
    }

    #total_resp{ display: block; }
    
    #total{ display: none; }

    select#sorting{
        margin-left: 0;
        margin-top: 10px;
        height: 25px;
    }
}

@media(max-width: 280px){
    button#num-of-articles{
        margin-top:5px;
    }
}