body{
    margin:0;
}

header{
    width:100%;
    background-color:deepskyblue;
    color:rgb(255, 253, 253);
    height: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.site{
    float: left;
    margin-left: 4%;
}

a{
    text-decoration: none;
    color:rgb(255, 253, 253);
}

#total{
    float: right;
    margin-right: 4%;
}

#list-of-articles{
    margin: 20px 70px;
}

.article-panel{
    margin: 30px 0px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px 15px;
}

.article-header{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 120%;
}

.info{
    font-size: 90%;
    margin-bottom: 5px;
}

.buttons{
    margin-top: 10px;
    margin-bottom: 5px;
}

.read-button{
    margin-right: 30px;
    color: white;
    background-color: rgb(81, 81, 226);
    height: 30px;
    cursor: pointer;
}

.read-button:hover{
    background-color: rgb(71, 71, 216);
}

.add-to-library{
    height: 30px;
    cursor: pointer;
}